@model Workout?

@{
    ViewData["Title"] = "Details Page";
    int id = ViewBag.id;
}

@if (Model != null)
{
    <div class="text-center">
        <h1 class="display-4">@Model.WorkoutTitle</h1>
    </div>

    <div class="card" style="width: 19rem;">
        <div class="card-body">
            <h5 class="card-title">Workout: @Model.WorkoutTitle</h5>
            <h6 class="card-text">Date: @Model.Date</h6>
            <h6 class="card-text">Time in gym: @Model.TimeInGym minutes</h6>
        </div>
    </div>
    <br />

    <p>
        <a asp-action="CreateLift" asp-route-id="@Model.Id">Create new lift</a>
    </p>
    <br />

    <div style="flex-direction:row;">
        @foreach (var item in Model.Lifts)
        {
            <div class="card" style="width: 19rem;">
                <div class="card">
                    <div class="card-body">
                        <h2>@item.Name</h2>
                        <p>
                            <a asp-action="CreateSet" asp-route-id="@item.Id">Create new set</a> ||
                            <a asp-action="EditLift" asp-route-id="@item.Id">Edit lift</a> ||
                            <a asp-action="DeleteLift" asp-route-id="@item.Id">Delete lift</a>
                        </p>
                    </div>
                </div>

            @foreach (var items in item.Sets)
            {
                <div class="card-body">
                    <h4>set: @items.SetNumber</h4>
                    <h6>reps: @items.Reps
                    Weight: @items.Weight</h6>
                    <a asp-action="EditSet" asp-route-id="@items.Id">Edit set</a> ||
                    <a asp-action="DeleteSet" asp-route-id="@items.Id">Delete set</a>
                </div>
            }
            </div>
            <br />
        }
    </div>
}

else
{
    <div class="text-center">
        <h3>Workout not found!</h3>
    </div>
}
