@model IEnumerable<Weight_Lifting_Tracker.Models.Workout>

@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />

<div class="text-center">
    <h1 class="display-4">Workouts</h1>
</div>

<p>
    <a asp-action="CreateWorkout">Create new workout</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Search by workout title: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["TitleSortParm"]">@Html.DisplayNameFor(model => model.WorkoutTitle)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.Date)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["TimeSortParm"]">@Html.DisplayNameFor(model => model.TimeInGym)</a>
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>            
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@item.WorkoutTitle</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeInGym)
            </td>
            <td>
                <a asp-action="EditWorkout" asp-route-id="@item.Id">Edit</a> ||
                <a asp-action="DeleteWorkout" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
